.profileCard {
  color: black;
  background-color: gray;
  padding: 0px 10px 1px 10px;
  border-radius: 10px;
}

.profilePic {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  padding-top: 5%;
}
